[Unit]
Description=#! LDAP Server
Author=Hashbang Team - team@hashbang.sh
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run \
  -v /home/core/slapd:/var/lib/ldap \
  -p 389:389 \
  --rm \
  --name="slapd" \
  hashbang/slapd

ExecStop=/usr/bin/docker stop slapd

[Install]
WantedBy=multi-user.target
