[Unit]
Description=#! LDAP Server
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker pull hashbang/slapd
ExecStartPre=-/usr/bin/docker kill slapd
ExecStartPre=-/usr/bin/docker rm slapd
ExecStart=/usr/bin/docker run \
  -p 389:389 \
  -v /home/core/slapd/ssl:/etc/ldap/ssl \
  --volumes-from slapd-data \
  -e ROOTPASS="somepass" \
  -e DOMAIN="hashbang.sh" \
  -e ORG="Hashbang" \
  --name="slapd" \
  hashbang/slapd

[Install]
WantedBy=multi-user.target
