[Unit]
Description=#! LDAP Server
Author=Hashbang Team - team@hashbang.sh
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull hashbang/slapd
ExecStart=/usr/bin/docker run \
  -p 389:389 \
  -v /home/core/slapd/ssl:/etc/ldap/ssl \
  -e ROOTPASS:"SOMEPASS" \
  --name="slapd" \
  hashbang/slapd

ExecStop=/usr/bin/docker stop slapd

[Install]
WantedBy=multi-user.target
